.contact__main {
    margin: 160px 0 0 70px;
    max-width: 900px;
}

.contact__main div {
    display: inline-block;
    margin: 10px 0;
    box-sizing: border-box;
}

.header__titel {
    font-size: 70px;
    font-family: 'Gilroy-Bold', sans-serif;
}

.header__text {
    font-family: 'Gilroy-Light', sans-serif;
    font-size: 25px;
    margin: 5px 0 30px 0;
}

label {
    font-family: 'Gilroy-Light', sans-serif;
    font-size: 25px;
}

form input[type="text"] {
    width: 100%;
    height: 40px;
}

form input[type="text"],
textarea {
    font-size: 20px;
    font-family: 'Gilroy-Light', sans-serif;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding-left: 10px;
}

form input[type="text"]:focus,
textarea:focus {
    outline: none;
    border-color: #7BC5BD;
}

.form--full-name,
textarea {
    width: 99.5%;
}

.form--email,
.form--city {
    width: 66%;
}

.form--phone,
.form--budget {
    width: 33%;
    padding-left: 10px;
}

.form__label--message {
    margin-top: 20px;
}

textarea {
    height: 150px;
    margin-bottom: 10px;
    padding: 10px;
}

.form__button {
    background-color: #7BC5BD;
    border: none;
    color: white;
    margin: 10px 0;
    padding: 12px 36px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    font-family: 'Gilroy-Light', sans-serif;
    cursor: pointer;
    transition: background-color 500ms ease-in-out;
}

.form__button:hover {
    background-color: #449b92;
}

@media only screen and (max-width: 414px) {
    .contact__main {
        margin: 15% 0 0 10%;
        max-width: 80%;
    }

    .header__titel {
        font-size: 2.5rem;
        font-family: 'Gilroy-Bold', sans-serif;
    }
    
    .header__text {
        font-family: 'Gilroy-Light', sans-serif;
        font-size: 1.2rem;
        margin: 5px 0 30px 0;
    }

    .form--full-name,
    textarea,
    .form--email,
    .form--city,
    .form--phone,
    .form--budget {
        width: 100%;
        padding: 0;
    }
}