* {
    padding: 0;
    margin: 0;
  }

  html {
    scroll-behavior: smooth;
  }
  @font-face {
    font-family: Gilroy-Bold;
    src: url(../fonts/Gilroy-ExtraBold.otf);
  }

  @font-face {
    font-family: Gilroy-Light;
    src: url(../fonts/Gilroy-Light.otf);
  }

  body::-webkit-scrollbar {
    display: none;
}

  body {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
  }

  section {
    scroll-snap-align: start;
  }

  .navbar {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1) , rgba(255,255,255,1) 70%, rgba(255,255,255,0));
    height: 150px;
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 3;
  }
  
  .navbar img {
    height: 70px;
    margin: 50px;
    padding-left: 20px;
    position: sticky;
  }
  
  .navbar ul {
    list-style-type: none;
    overflow: hidden;
    /* background-color: #fff; */
    display: inline;
    margin: 40px;
    padding-right: 50px;
  }
  
  .navbar li {
    float: left;
  }
    
  
  .navbartext li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    float: right;
    position: relative;
    font-family: 'Gilroy-Light', sans-serif;
    font-size: 1.4em;
    text-decoration: none;
    color: black;
  }

  .navbartext li a::after {
    content: '';
    position: absolute;
    width: calc(100% - 2*14px);
    top: 1.6em;
    left: 14px;
    height: 1px;
    background-color: #999;
  }
  
  /* Change the link color to #111 (black) on hover */
  .navbar li a:hover,
  .navbar li a:focus {
    color: #7BC5BD;
    cursor: pointer;
  }

  .navbar li a:hover::after {
    background-color: #7BC5BD;
  }
  
  .navbar ul {
    position: -webkit-sticky; /* Safari */
    position: sticky;
  }
  
  .navbartext {
    float: right;
  }

  .navbar-scrolled {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1) , rgba(255,255,255,1) 70%, rgba(255,255,255,0));
    height: 65px;
    top: 0;
  }

  .navbar-scrolled li {
    height: 50px;
  }

  .navbar-scrolled img {
    height: 40px;
    margin: 5px !important;
    padding-left: 10px;
    position: sticky;
  }

  .navbartext-scrolled {
    margin: -15px !important; 
    font-size: .7em;
  }
  
  .navbartext-scrolled li a::after {
    top: 2em;
    width: calc(100% - 2*18px);
    left: 18px;
  }

  .light {
    font-family: 'Gilroy-Light', sans-serif;
  }
  
  @media only screen and (max-width: 414px) {
    nav ul li{
      display: none;
    }

    nav ul li:last-of-type {
      display: block;
    }

    .navbar {
      background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1) , rgba(255,255,255,1) 70%, rgba(255,255,255,0));
      height: 65px;
      top: 0;
    }
  
    .navbar li {
      height: 50px;
    }
  
    .navbar img {
      height: 40px;
      margin: 5px !important;
      padding-left: 10px;
      position: sticky;
    }

    .navbartext {
      margin: -15px !important; 
      font-size: .7em;
    }
    
    .navbartext li a::after {
      top: 2em;
      width: calc(100% - 2*18px);
      left: 18px;
    }

    body {
      scroll-snap-type: none;
    }

    section {
      scroll-snap-align: none;
    }
  }
  